.emotion-review{
  padding :2rem;
  font-family: 'Times New Roman', Times, serif;
  color:black;
}

.emotion-review-header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.emotion-review-header h2{
  font-size:1.4rem;
  margin:0;
}

.log-new-button{
  background-color: black;
  color: white;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 100;
  transition: background-color 0.2s ease;
}

.log-new-button:hover{
  background-color: grey;
}

.no-entries{
  text-align: center;
  font-style: italic;
  color:#888;
  margin-top:4rem;
}

.log-list{
  list-style: none;
  padding: 0;
  margin:0
}
.log-item{
  background-color: #f9f9f9;
  border-left:4px solid black;
  padding: 0.4rem 0.8rem;
  margin-bottom:1rem;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0,0.05);
  animation: fadeIn 0.3s ease-in;

}

@keyframes fadeIn{
  from{
    opacity:0;
    transform: translateY(-30px) ;
  }to{
    opacity:1;
    transform: translateY(0);
  }
}

.log-item strong{
  font-size: 1.1rem;
  text-transform: capitalize;
}

.log-header{
  display: flex;
  justify-content: space-between;
}

.delete-log{
  margin-top: 2px;
  cursor: pointer;
}

.log-meta{
  margin-top: 0.5rem;
  font-size:0.8rem;
  color:#666;
  display:flex;
  justify-content: space-between;
}

.log-tags{
  margin-top:0.3rem;
  display: flex;
  flex-wrap:wrap;
  gap:7px;
}

.tag{
  background-color: #cacacd;
  color:black;
  border-radius: 3px;
  font-size: 0.76rem;
  padding:1.5px 5px;
}

.tag-impact{
  background-color: #cedff3;
  border-radius: 3px;
  padding:1.5px 5px;
}