.routines-container {
    font-family: sans-serif;
    padding:30px;
  }
  
  .dayview-header {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    position:sticky;
    top:60px;
    background-color:  rgba(0, 0, 0, 0.31);
    backdrop-filter: blur(40px);
    margin: -30px;
    padding:10px;
    font-family: 'Times New Roman', Times, serif;;
    font-size: 18px;
    margin-bottom: 26px;
    font-weight: normal;
    text-align: center;
    padding-left: 52px;
  }

  .add-task-btn{
    background: none;
    cursor: pointer;
    font-size: 21px;  
    border: none;
    padding: 0 45px;
  }

  .add-task-btn:hover{
    color: white;    
  }



  .weekdays-row{
    display:flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding:0 24px;
  }

  .weekday-cell{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;

  }

  .weekday-name{
    font-weight: bold;
    margin-bottom: 10px;;
  }

  .weekday-date{ 
    padding: 3px 9px;
    border-radius: 6%;

  }


.today-circle{
    background-color: black;
    color: white; 

}
  


  .dayview-hour {
    height: 65px;
    border-bottom: 1px solid #ccc;
    padding-left: 10px; 
    width:100%;
    display: flex;
   align-items:center;
    font-family: 'Times New Roman', Times, serif;
    color: black;
  }

  .hour-task{
    margin-left: 18px;
    font-size: 18px;
    padding: 1px 10px 3px 10px;
    border-radius: 4%;
    font-family: 'Times New Roman', Times, serif;
    background-color:  rgba(0, 0, 0, 0.31);
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.40) ;
    white-space: nowrap;
  }





  .task-form-slide{
    position: fixed;
    width:100%;
    bottom:0;
    left:0;
    top:67px;
    background-color:  rgba(0, 0, 0, 0.70);
    z-index: 1000;  
    animation: slideUp 0.375s ease;
    backdrop-filter: blur(900px);
    
    font-family: 'Times New Roman', Times, serif;
  }

  @keyframes slideUp {
    from{
      transform: translateY(100%);
    }
    to{
      transform: translateY(0);
    }
  }

  .task-form{

  }

  .task-header{
    padding: 10px 30px;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.70) ;
    margin-bottom: 40px;

  }

  .task-header span{
    color: whitesmoke;
    cursor: pointer;
    font-size: 20px;
    align-items: center;

  }

  .task-body{
    padding: 0 39px 0 35px;
  }

  .task-body label{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;

  }

  .title-input{

    font-size: 16px;
    margin-top: 10px;
    padding-right: 116px;
    font-family: 'Times New Roman', Times, serif;
    
  }

  
  .time-inputs input{
    display: flex;
    flex-direction: column;

    padding-right: 116px;
    margin-top: 10px;;
  }

  .delete-button{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 345px;
    font-size: 21px;
  }



