.sign-in-container{
    display: flex;
    flex-direction: column;
    padding: 0 7rem;
    margin-top: 200px;
    

}

.task-icon{

    font-size:70px;
    align-items: center;
    justify-content: center;
}

h1{
    margin-bottom: 40px;;
}

label{
    font-weight: bold;

}

.signing-page{
    color: white;
    background-color: black;
    margin-top: 50px;

}

