.birthday {
  max-width: 400px;
  margin: 50px auto;          /* keskitys horisontaalisesti ja väli ylhäältä/alhaalta */
  padding: 0px 20px;            /* jättää vähän väliä sivuille pienillä näytöillä */
  text-align: center;
  box-sizing: border-box;     /* ottaa paddingin mukaan leveyslaskuun */
}

.birthday-form {
  margin:40px 0px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-family: 'Times New Roman', Times, serif;
}

.birthday-form input,
.birthday-form textarea {
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 2px;
  resize: none;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
  width: 100%;                /* täyttää .birthday-containerin leveyden */
  box-sizing: border-box;     /* tärkeä: estää leveysylitykset paddingin kanssa */
  margin: 0;                  /* poistaa ylimääräiset marginaalit */
}

.birthday-form textarea {
  height: 100px;              /* tai muuta sopivaksi */
}

.birthday-form button {
  background-color: rgb(250, 228, 235);
  padding: 0.6em;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 2px;
  transition: background-color 0.2s ease;
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.88em;
}


.birthday-form button:hover {
  background-color: rgb(242, 187, 215);
  color: white;
}

.start-overlay {
  position: fixed;
  inset: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.intro-video {
  width: 100%;
  max-width: 640px;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.start-btn {
  margin-top: 1rem;
  padding: 0.4rem 0.4rem;
  font-size: 1rem;
  background:  #efcdd9;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.start-btn:hover {
  background: #fcb6cf;
}
